.idea/
.vscode/
/coverage/
/vendor/
/view/node_modules/
/view/dist/
/view/package-lock.json
/logs/*
/Slim/
composer.lock
LICENSE.md
CHANGELOG.md
MAINTAINERS.md
SECURITY.md
database.sql
/config/config.php
!/logs/README.md
.phpunit.result.cache